<!DOCTYPE html>
	<html>
		<head>
			<title>CaribEES | Home</title>
			<meta charset="utf-8"/>
			<link rel="stylesheet" type="text/css" href="css/caribees.css">
			<script src="https://use.fontawesome.com/92e685ae19.js"></script>
		</head>
		<body>
		<div id='contenu'>
			<div>
				<ul class="information">
					<li><i class="fa fa-phone"></i> +1 (786) 501-3339</li>
					<li><i class="fa fa-envelope"></i> caribees@caribees.com</li>
					<li><i class="fa fa-facebook"></i></li>
					<li><i class="fa fa-twitter"></i></li>

				</ul>
			</div>
			<div id = "home">Welcome to CaribEES</div>
			<div id="build">We're building the website!</div>
		</div>
		<div id="footer">
			<footer id="copy">
				&copy; 2016 CaribEES
			</footer>
		</div>		
		</body>
	</html>